<tr>
    <td class="col-md-6">{{ form_widget(form.nomenclature, { 'attr': {'class': 'form-control'} } ) }}</td>
    <td class="col-md-2">{{ form_widget(form.price, { 'attr': {'class': 'form-control'} } ) }}</td>
    <td class="col-md-2">{{ form_widget(form.count, { 'attr': {'class': 'form-control'} } ) }}</td>
    <td class="col-md-2">{{ form_widget(form.date_paper, { 'attr': {'class': 'form-control'} } ) }}</td>
    <td class="col-md-2">{{ form_widget(form.date_end, { 'attr': {'class': 'form-control'} } ) }}</td>
    <td><a href="javascript:;" class="removeProduct"><i class="fa fa-times" aria-hidden="true"></i></a></td>
</tr>