{% extends 'base.html.twig' %}

{% block title %}Номенклатура{% endblock %}

{% block body %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                <h2 class="lead text-center mt-5">
                    {{ title }}
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters justify-content-center align-items-center mt-5">
            <div class="col-6">
                <form name="nomenclature" method="post">
                    <div class="row form-group">
                        <div class="col-6">
                            <label for="nomen_sn" class="required">Наименование <span class="small text-muted">, например ПР</span></label>
                            {{ form_widget(nomenclature_edit.short_name, {'attr': {'class': 'form-control', 'id': 'nomen_sn', 'required': 'required'}}) }}
                        </div>
                        <div class="col-2">
                            <label for="nomen_fn" class="required">Цвет</label>
                            {{ form_widget(nomenclature_edit.color, {'attr': {'class': 'form-control', 'id': 'color', 'required': 'required'}}) }}
                        </div>
                        <div class="col-4">
                            <label for="nomen_pr" class="required">Цена</label>
                            {{ form_widget(nomenclature_edit.price, {'attr': {'class': 'form-control', 'id': 'price', 'required': 'required'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nomen_fn" class="required">Полное наименование <span class="small text-muted">, например ПРАВДА</span></label>
                        {{ form_widget(nomenclature_edit.full_name, {'attr': {'class': 'form-control', 'id': 'nomen_fn', 'required': 'required'}}) }}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mb-5 mt-4 btn">Сохранить</button>
                    </div>
                    {{ form_row(nomenclature_edit._token) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}